@import "./media-queries";
.navcontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding-left: 8vw;
  padding-right: 8vw;
  margin-bottom: 5vw;
  font-family: "Libre Baskerville";
  font-size: 180%;
  height: fit-content;
  @include tablet {
    font-size: 120%;
  }
  &__img {
    width: 100%;
  }
  &__author {
    font-size: smaller;
    color: rgb(137, 148, 153);
    padding: 2px;
  }
  .searchbox {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    margin-top: 5px;
    position: relative;
    width: 25vw;
    height: 4vw;
    &__inp {
      resize: none;
      font-size: 90%;
      position: absolute;
      padding: 1.5%;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
      overflow-y: hidden;

    }
    .searchresults {
      position: absolute;
      top: 3.5vw;
      left: 0px;
      background-color: white;
      height: 30vh;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      border: solid 1px;
      .searchItem {
        display: flex;
        flex-direction: column;
        border-bottom: solid 1px;
        border-color: grey;
        &:hover .searchItem__desc{
          cursor: pointer;
          display: flex;
          // display: flex !important;
        }
        &__title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 2vw;
          color: #282c34;
          padding: 3px;
          text-decoration: none;
          #tags {
            color: rgb(70 201 111);
            padding: 4px;
          }
          &:hover{
            cursor: pointer;
            border-bottom: none;
          }
        }
        &__desc {
          display: none;
          font-size: small;
          color: grey;
          padding: 3px;
          border-top: solid;
          border-top-width: 1px;
          border-top-color: rgb(193, 192, 192);
        }
        
      }
    }
    @include tablet{
      height: 4vw;
      width: 35vw;
      .searchresults{
        top: clamp(17px,3.5vw,28px);
        width: 100%;
        .searchItem__desc{
          font-size: x-small;
        }
      }
    }
    .searchicn {
      position: absolute;
      top: 0px;
      right: -1px;
      height: 100%;
      @include tablet {
        right: -5px;
      }
    }
  }
  @include mobile {
    background-color: black;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 90%;
    height: 70vw;
    // overflow: hidden;
    .navquote {
      display: flex;
      justify-content: left;
      flex-direction: column;
      z-index: 1;
    }
    &__author {
      color: white;
      font-size: 80%;
    }
    &__img {
      position: absolute;
      top: 0px;
      left: 0px;
      // z-index: 0;
      opacity: 0.6;
      height: 100%;
    }

    .searchbox {
      position: relative;
      height: 6vw;
      width: 40vw;
      .searchicn {
        color: black;
        position: absolute;
        top: 0;
        right: -6px;
      }
      .searchresults{
        height: 75px;
        border: 1px solid black;
        position: absolute;
        // top:clamp(5px,5vw,20px);
        top:min(5.5vw,20px);
        left: 0px;
        .searchItem__title{
          font-size: small;
          #tags{
            font-size: x-small;
          }
        }
      }
    }
  }
}
