@import "./media-queries";
.blogs {
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 280px;
    height: 370px;
    padding: 15px;
    margin: 5px;
    border: solid;
    border-radius: 10px;
    border-color: rgb(197, 197, 197);
    &:hover {
      transition: 0.3s;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .card-content {
      overflow: hidden;
      .card-author{
        color: rgb(137, 148, 153);;
      }
      .card-tag {
        position: absolute;
        top: -6px;
        right: -19px;
        z-index: 1;
        display: inline-block;
        padding: 0.2em 0.5em;
        border-radius: 0.5em;
        font-size: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #f9c74f; 
        color: white;
        &.action {
          background-color: #F94144; 
        }&.romance {
          background-color: #f45af9; 
        }&.scifi {
          background-color: #43AA8B; 
        }
        &.comedy {
          background-color: #F8961E; 
        }&.tech {
          background-color: #586d8b; 
        }&.food {
          background-color: #F3722C; 
        }&.education {
          background-color: #01a7fb; 
        }&.sports {
          background-color: #0019ff; 
        }&.general {
          background-color: #00c023; 
        }
      }
    }
  }
  @include tablet {
    .card {
      width: clamp(210px, 27vw, 280px);
      height: 340px;
    }
  }
  @include mobile {
    .card {
      width: 75vw;
      height: 53vh;
    }
  }
}
