@import "./media-queries";
.fab-container {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 5; /* make sure the Fab button is above other elements */

  .fab-icn {
    background-color: #3eb3ff;
    color: #f2f3f4;

    &:hover {
      background-color: #2895d5;
    }
  }
}
.blg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 4px;
  margin-right: 4px;
  #blg-tagmenu{
    margin-left: 4px;
    &:hover #tag-dropdown{
        display: block;
    }
    #dropbtn-tag{
      display: flex;
      justify-content: center;
      align-items: center;
      width: clamp(94px,11vw,300px);
      height: 3.5vw;
      // height: clamp(13px,4vw,30px);
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: clamp(10px,1.2vw,26px);
      border: none;
      cursor: pointer;
    }
    #tag-dropdown {
      display: none;
      width: clamp(94px,11vw,300px);
      list-style: none;
      position: absolute;
      background-color: #f9f9f9;
      // min-width: 160px;
      cursor: pointer;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 3;
      li{
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover{
          background-color: #f1f1f1
        }
      }
    }
  }
  .row {
    position: relative;
    width: 88vw;
    height: 3.5vw;
    border-radius: 5px;
    #blgtitle-input {
      resize: none;
      font-size: 1.9vw;
      position: absolute;
      padding: 0.7%;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
      overflow-y: hidden;
      text-align: center;
      // line-height: 3.5vw;
    }
  }
  @include tablet {    
    #blg-tagmenu{
      #tag-dropdown li{
        padding: 10px 12px;
      }
      #dropbtn-tag{
        padding: 2.7vw;
        font-size: clamp(13px,1.9vw,16px);
    }
  }
    .row {
    height: 5vw;
    // width: 32vw;
    #blgtitle-input {
      font-size: 2.3vw;
      padding: 0.8%;
    }}
  }
  @include mobile {
    #blg-tagmenu #dropbtn-tag{
      padding: 4vw;
  }
    .row{
    height: 8vw;
    // width: 40vw;
    #blgtitle-input {
      font-size: 3.5vw;
      padding: 1.5%;
    }
  }
  }

}
.loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  img {
    margin: 0 auto;
    @include mobile{
      width: 30px;
    }
  }
}
button {
  float: right;
}
