.blog-container{
    margin: 30px;
    margin-top: 0px;
    margin-right: 0px;
    padding: 10px;
    overflow: hidden;
    width: 95vw;
    overflow-wrap: break-word;
    .blog-author{
        display: flex;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
    }
    .blog-date{
        font-family: 'Open Sans';
        font-size: 0.85rem;
        display: flex;
    }
}
// div>
//         <div>
//           <h5>Posted By:</h5>
//           <span>{appContext.readBlog.author}</span>
//         </div>
//         <div>
//           <h5>On:</h5>
//           <span>{convertDate(appContext.readBlog.date)}</span>
//         </div>
//       </div>